@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Almarai:wght@300;400;700;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(39, 40, 43, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-h-header.is-open .q-h-header-background {
  left: 0;
}
.q-h-header-button-wrapper {
  margin-left: auto;
}
.q-h-header-icon {
  display: none;
}

.q-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-h-navigation-list.is-open {
  right: 0;
}
.q-h-header-icon-menu {
  display: block;
}

.q-h-header-icon-button.is-open .q-h-header-icon-menu {
  display: none;
}

.q-h-header-icon-button.is-open .q-h-header-icon-close {
  display: block;
}

.q-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(11, 5, 109, 1);
}

.q-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(11, 5, 109, 1);
}
.q-h-header.is-open .q-h-header-background {
  left: 0;
}
.q-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-h-header-icon-menu {
  display: block;
}

.q-h-header-icon-button.is-open .q-h-header-icon-menu {
  display: none;
}

.q-h-header-icon-button.is-open .q-h-header-icon-close {
  display: block;
}

.q-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 20px;
  position: relative;
}

.q-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 40px;
  gap: 20px;
  background: rgba(11, 5, 109, 1);
}

.q-h-navigation-list.is-open {
  right: 0;
}

.q-h-navigation-link {
  font-family: Alegreya Sans SC;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-h-navigation-link:hover,
.q-h-navigatioт-link:focus {
  color: rgba(255, 171, 0, 1);
}

.q-h-header.is-open {
  background-color: transparent;
}

.q-h-navigation-img {
  display: none;
}

@media screen and (min-width: 1211px) {
  .q-h-navigation-img {
    display: flex;
  }
  .q-h-policy-terms-header-icon-menu {
    display: none;
  }

  .q-h-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-h-header-background {
  }
  .q-h-header-icon-button {
    display: none;
  }
  .q-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 28px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-h-navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .q-h-navigation-item-desk {
    display: none;
  }
}
.q-h-home {
  width: 375px;
  height: 973px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Block\ 1.png");
  margin: auto;
}
.q-h-home-container {
  width: 375px;
  padding: 100px 20px 0px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}

.q-h-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.q-h-home-title-img {
  width: 335px;
  height: 166px;
}
.q-h-home-title {
  font-family: Alegreya Sans SC;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  padding: 12px 0 12px;
}

.q-h-home-text {
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 30px;
}

.q-h-home-google-button-image {
  width: 373px;
  height: 118px;
}

.q-h-home-google-button-link:hover .q-h-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1211px) {
  .q-h-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/Block\ 1\ \(1\).png");
  }
  .q-h-home-container {
    width: 1440px;
    padding: 144px 88px 0px;
  }
  .q-h-home-container-top {
    width: 592px;
  }

  .q-h-home-title-img {
    width: 592px;
    height: 298px;
  }
  .q-h-home-title {
    font-family: Almarai;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 20px;
  }

  .q-h-home-text {
    font-family: Almarai;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding-bottom: 40px;
  }
  .q-h-home-google-button-image {
    content: url("/img/home/Button\ Blue\ \(2\).png");
    width: 400px;
    height: 118px;
  }
}

.q-h-about-container {
  width: 375px;
  height: 1170px;
  padding: 60px 20px 0;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 1597880754.png");
}
.q-h-about-title {
  font-family: Alegreya Sans SC;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: center;

  color: rgba(105, 0, 138, 1);
}
.q-h-about-titleq {
  color: rgba(255, 255, 255, 1);
}
.q-h-about-text {
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(82, 82, 82, 1);
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 40px;
}

.q-h-about-list {
  list-style-type: disc;
  margin: 12px 0 0 20px;
  font-family: Almarai;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(105, 0, 138, 1);
}
.q-h-about-qt {
  font-family: Almarai;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

  padding-top: 422px;
  color: rgba(82, 82, 82, 1);
}
@media screen and (min-width: 1211px) {
  .q-h-about {
    background: linear-gradient(359.34deg, #b9e1ff 0.35%, #0059c7 91.53%);
  }
  .q-h-about-container {
    width: 1440px;
    height: 704px;
    padding: 88px;
    background-image: url("/img/About.png");
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .q-h-about-title {
    font-family: Alegreya Sans SC;
    font-weight: 900;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
  }

  .q-h-about-text {
    font-family: Almarai;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    width: 692px;
    gap: 20px;
    padding-top: 60px;
  }

  .q-h-about-list {
    font-family: Almarai;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    width: 692px;
    padding-top: 24px;
  }
  .q-h-about-qt {
    font-family: Almarai;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    width: 813px;
    padding-top: 32px;
  }
}
.q-h-why {
  background: linear-gradient(180deg, #7e1ec5 0%, #000889 100%);
}

.q-h-why-container {
  width: 375px;
  height: 2134px;
  margin: auto;
  padding: 64px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits.png");
}
.q-h-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.q-h-why-item {
  width: 335px;
  height: 196px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
  padding: 28px;
}

.q-h-why-text-bold {
  font-family: Alegreya Sans SC;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.q-h-why-text {
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

  padding-top: 12px;
}

@media screen and (min-width: 1211px) {
  .q-h-why {
    background: linear-gradient(180deg, #7e1ec5 0%, #000889 100%);
  }
  .q-h-why-container {
    width: 1440px;
    height: 1078px;
    margin: auto;
    padding: 88px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .q-h-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 26px;
    height: 842px;
  }
  .q-h-why-item {
    width: 368px;
    height: 240px;
    background-image: url("/img/11.png");
    padding: 56px 17px 0;
  }

  .q-h-why-text-bold {
    font-family: Alegreya Sans SC;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .q-h-why-text {
    font-family: Almarai;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .q-h-why-items {
    margin-bottom: 300px;
  }
}

.q-h-faq-container {
  padding: 60px 20px;
  width: 375px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url("/img/FAQ.png");
}
.q-h-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-h-faq-item {
  border-radius: 6px;
  padding: 16px;
  background: rgba(253, 254, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 16px 0px rgba(157, 66, 255, 0.6);
}

.q-h-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.q-h-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.q-h-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1211px) {
  .q-h-faq-container {
    padding: 96px 286px;
    width: 1440px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-image: url("/img/FAQ.png");
  }
  .q-h-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .q-h-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Alegreya Sans SC;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
  }

  .q-h-faq-answer {
    display: none;
    padding-top: 16px;
    font-family: Almarai;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.q-h-gallery-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px;
}
.q-h-uniqueness-list {
  gap: 10px;
  border-radius: 20px;
  padding-top: 28px;
  padding-right: 24px;
  padding-bottom: 28px;
  padding-left: 24px;
  background: rgba(231, 194, 255, 1);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: rgba(105, 0, 138, 1);
}
.q-h-uniqueness-text-bold {
  font-family: Almarai;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.q-h-uniqueness-text {
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.q-h-gallery-list {
  padding: 32px 0 36px;
}

.q-h-gallery-item {
  width: 335px;
  height: 536px;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-h-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-h-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.q-h-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.q-h-gallery-button:hover {
  scale: 120%;
}
.q-h-gallery-button-containerss {
  display: none;
}
@media screen and (min-width: 1211px) {
  .q-h-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 88px 80px;
  }
  .q-h-gallery-div {
    display: flex;
    justify-content: space-between;
  }
  .q-h-uniqueness-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .q-h-uniqueness-list {
    border-radius: 20px;
    padding-top: 28px;
    padding-right: 40px;
    padding-bottom: 28px;
    padding-left: 40px;
    gap: 28px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 1);
    background: rgba(154, 119, 255, 1);
  }

  .q-h-uniqueness-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 284px;
  }

  .q-h-gallery-list {
    display: block;
    padding: 40px 0 0;
  }
  .q-h-gallery-item {
    width: 444px;
    height: 708px;
    border-radius: 20px;

    overflow: hidden;
    position: relative;
    margin: 0 10px;
  }

  .q-h-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .q-h-gallery-button-containers {
    display: none;
  }
  .q-h-gallery-button-containerss {
    display: flex;
  }
}

.q-h-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.q-h-policy-terms-title {
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.q-h-policy-terms-text {
  padding-top: 20px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.q-h-policy-terms-texts {
  padding-top: 8px;
}

.q-h-policy-terms-text-one {
  padding-top: 20px;
}

.q-h-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-h-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-h-email-link {
  color: inherit;
  text-decoration: none;
}

.q-h-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1211px) {
  .q-h-policy-terms-container {
    padding: 152px 80px 60px;
    width: 1440px;
  }

  .q-h-policy-terms-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .q-h-policy-terms-text {
    padding-top: 40px;
  }

  .q-h-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-h-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-h-footer-container {
  width: 375px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  color: rgba(255, 255, 255, 1);
}

.q-h-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.q-h-footer-text {
  text-decoration: none;
  color: inherit;
}

.q-h-footer-copyright {
  font-family: Alegreya Sans SC;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1211px) {
  .q-h-footer-container {
    width: 1440px;
    padding: 40px 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
  }

  .q-h-footer-wrapper {
    display: flex;
    flex-direction: row;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    gap: 4px;
  }

  .q-h-footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}

.q-h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 219, 233, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  border-radius: 20px;

  z-index: 1000;
  display: none;
}

.q-h-cookie-popup-text-two {
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(111, 108, 144, 1);
}

.q-h-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-h-cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(179, 23, 244, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);

  width: 196px;

  border-radius: 56px;

  padding-top: 18px;
  font-family: Almarai;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 15, 73, 1);
  padding-bottom: 18px;
}

#accept-cookies {
  background: rgba(179, 23, 244, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: rgba(255, 255, 255, 1);
}

.q-h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1211px) {
  .q-h-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-h-cookie-popup-text-two {
    font-family: Almarai;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    width: 700px;
  }

  .q-h-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .q-h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
